body {
    /*padding-bottom: 20px;*/
    background-color: black;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.banner-container {
    min-height: 200px;
    /*max-height: 200px;*/
    background-color: black;
    height: calc(100vh - 50px);
    padding-bottom: 20px;
}

#circle {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.nav {
    font-size: 30px;
}

@media screen and (max-width: 767px) {
    .nav {
        font-size: 14px;
    }
}

.btn-admin .fa-6 {
    font-size: 10em;
}

.btn-admin a {
    text-decoration: none;
    color: white;
}

.admin-link:hover {
    opacity: 0.9;
}

span.fa {
    color: white;
    opacity: 0.5;
}

    span.fa:hover {
        opacity: 1.0;
    }