@{
    ViewBag.Title = "Home Page";
}
<h1 class="banner-heading text-center">Annual Tournament</h1>
<div class="banner-container">

    <img alt="Annual Tournament Banner" class="img-responsive center-block" src="~/Content/Images/BannerImage.jpg" style="height:100%; width:100%" />
</div>