@{
    ViewBag.Title = "Home Page";
}

<div class="banner-container">

    <img class="img-responsive center-block" src="~/Content/Images/BannerImage.jpg" alt="banner image" style="height:100%; width:100%" />
</div>