@{
    ViewBag.Title = "Home Page";
}

<div class="banner-container">

    <img class="img-responsive center-block" src="~/Content/Images/BannerImage.jpg" alt="banner image" style="height:100%; width:100%" />

    @*<div class="col-md-4 col-md-offset-4 banner-logo">
            <div class="col-xs-4" id="circle">
            </div>
            <div class="col-xs-8">
                <h1>Annual Tournament</h1>
            </div>
        </div>*@
</div>
<div class="col-xs-12">
    <p>
        Bacon ipsum dolor amet hamburger leberkas tongue kielbasa frankfurter burgdoggen. Brisket corned beef kevin, biltong t-bone kielbasa pork swine bacon strip steak pork loin shank. Ribeye fatback frankfurter beef tail tenderloin tri-tip pig boudin bresaola ground round picanha corned beef pork belly shank. Shankle picanha jowl tail fatback pork. Pork chop filet mignon doner alcatra, venison prosciutto turkey ribeye turducken capicola biltong flank jowl salami.

        Prosciutto fatback turkey pastrami beef ribs jowl kevin venison tri-tip bacon ham capicola pork chop pork belly. Corned beef drumstick bacon porchetta jerky. Ground round meatball andouille, kielbasa cow pork belly beef ribs capicola jerky corned beef tail. Filet mignon venison tri-tip short ribs, flank ham shoulder ribeye pork loin porchetta.

        Meatloaf picanha meatball turducken sausage kielbasa shoulder chuck kevin.
    </p>
    <p>
        Tongue andouille kevin, ham hock t-bone shank picanha tri-tip short ribs fatback. Tri-tip flank alcatra ribeye swine shank bacon pastrami brisket pork drumstick spare ribs. Ball tip corned beef beef beef ribs capicola, cow filet mignon prosciutto pancetta tenderloin short ribs venison ham. Ribeye ham sirloin filet mignon prosciutto kevin ground round salami landjaeger alcatra leberkas cow biltong.

        Boudin beef ribs filet mignon ground round rump. Porchetta ball tip cow biltong, short ribs alcatra ham hock beef. Tongue pancetta chicken leberkas, t-bone flank tri-tip drumstick short loin. Bresaola flank beef ribs ham hock ham meatball. Landjaeger jowl kevin capicola. Short loin ham brisket shank shoulder boudin alcatra landjaeger picanha sirloin beef ribs.

        Beef pork chop brisket landjaeger jowl bresaola pork loin andouille. Picanha strip steak pork loin kielbasa, burgdoggen pig pork belly doner capicola pork chop tenderloin ball tip spare ribs t-bone brisket. Pork belly kevin andouille venison kielbasa jerky meatball. Bresaola biltong sausage bacon beef ribs. Leberkas cupim burgdoggen, jerky ham hock andouille rump t-bone pork. Drumstick kielbasa doner prosciutto ground round kevin.

        Strip steak jerky frankfurter shankle filet mignon rump swine.
    </p>
    <p>
        Drumstick ground round biltong meatloaf. Chuck kielbasa picanha venison turducken capicola pastrami ball tip doner leberkas beef. Pancetta frankfurter kevin salami cow meatball kielbasa fatback. Leberkas t-bone pork flank chuck, porchetta turkey drumstick ground round tail swine cow turducken ribeye.

        Rump meatloaf alcatra, meatball fatback kevin short ribs cupim short loin prosciutto pork chop chuck. Cow corned beef sausage, ham hock t-bone ham brisket. Boudin beef short loin meatball fatback pork loin strip steak filet mignon ham picanha. Jerky picanha tri-tip fatback pancetta, ground round cow. Ground round chuck picanha frankfurter turkey. Biltong pastrami cupim ball tip strip steak hamburger.
    </p>
</div>
<div class="col-xs-12">
    <p>Registration Form</p>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Register
    </a>

    <div class="collapse" id="collapseExample">
        <div>
            Add Form Here
        </div>
    </div>
</div>