@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Admin Users", "Index", "AdminUser")
@Html.ActionLink("ExpressionOfInterests", "Index", "ExpressionOfInterests")
@Html.ActionLink("Notifications", "Index", "Notification")