<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://annualtournamentwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>annualtournamentwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AnnualTournamentWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AnnualTournamentWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AnnualTournament" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:twmdevelopments.database.windows.net,1433;Initial Catalog=AnnualTournamentWebApp_db;Persist Security Info=False;User ID=twmDevelopments;Password=Twmd3v3lopm3nts;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:twmdevelopments.database.windows.net,1433;Initial Catalog=AnnualTournamentWebApp_db;Persist Security Info=False;User ID=twmDevelopments;Password=Twmd3v3lopm3nts;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AnnualTournament.Common.Models.ExpressionOfInterestContext, AnnualTournament.Common" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AnnualTournamentUsers" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:twmdevelopments.database.windows.net,1433;Initial Catalog=AnnualTournamentUsers_db;Persist Security Info=False;User ID=twmDevelopments;Password=Twmd3v3lopm3nts;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:twmdevelopments.database.windows.net,1433;Initial Catalog=AnnualTournamentUsers_db;Persist Security Info=False;User ID=twmDevelopments;Password=Twmd3v3lopm3nts;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AnnualTournament.Models.ApplicationDbContext, AnnualTournament" MigrationConfiguration="AnnualTournament.Migrations.Configuration, AnnualTournament" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AnnualTournament-Web.config Connection String">
      <ParameterValue>Server=tcp:twmdevelopments.database.windows.net,1433;Initial Catalog=AnnualTournamentWebApp_db;Persist Security Info=False;User ID=twmDevelopments;Password=Twmd3v3lopm3nts;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AnnualTournamentUsers-Web.config Connection String">
      <ParameterValue>Server=tcp:twmdevelopments.database.windows.net,1433;Initial Catalog=AnnualTournamentUsers_db;Persist Security Info=False;User ID=twmDevelopments;Password=Twmd3v3lopm3nts;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>